**Phase 1: Identifying our business problems**

I have uploaded the dataset from https://www.kaggle.com/datasets/mustafakeser4/bigquery-fintech-dataset

Dataset consists of two primary tables named "customer" and "loan". Other tables are just aggregated views of these including loan_count_by_year, loan_purposes, loan_with_region, and state_region.

Based on the data provided in the dataset I have thought of the next possible solutions that fintech company might require:
1. Identifying golden standard for the customer's profile based on their characteristics. Golden standard would refer to a customer with the lowest risk associated with giving out a loan. Our desired result would be reaching loan status 'Fully paid' - the column with loan status is in our second table.
2. Customer segmentation based on location, income, employment sector, and verification status. This will let us see which segment brings business more value (total amount of given loans, interest income, loan reaching Fully paid status,

In [12]:
#importing all necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine


# Connecting database
DATABASE_URL = "postgresql://postgres:Marvel2018@localhost:5432/salary_db?options=-csearch_path%3Dportfolio"

# Create the SQLAlchemy engine
engine = create_engine(DATABASE_URL)


# Execute a query
c_query = "SELECT * FROM customer;"
l_query = "SELECT * FROM loan;"

# Read results directly into a Pandas DataFrames
customer = pd.read_sql_query(c_query, engine)
loan = pd.read_sql_query(l_query, engine)

In [13]:
#Showing first five rows of the customer table
customer.head()

  customer_id  emp_title emp_length home_ownership  annual_inc  annual_inc_joint verification_status zip_code addr_state  avg_cur_bal  Tot_cur_bal
0  b'x7fx...   Associate     1 year       RENT        70000.0         NaN          Verified             190xx         PA     6643.0      26573.0
1  b'xe2v...   Orthop...     1 year   MORTGAGE       164000.0         NaN          Verified             190xx         PA    35425.0     460526.0
2  b'2x16...       Sales     1 year   MORTGAGE        85000.0         NaN         Source...             190xx         PA     1996.0      37923.0
3  b"x11F...   Recrui...     1 year        OWN        50000.0         NaN         Source...             190xx         PA    10775.0     129297.0
4  b'Rx1a...   Region...     1 year       RENT        61000.0         NaN         Source...             190xx         PA     2609.0      23482.0

In [14]:
#Showing first five rows of the loan table
loan.head()

   loan_id customer_id loan_status  loan_amount state  funded_amount       term  int_rate  installment grade issue_d issue_date  issue_year  pymnt_plan       type    purpose description notes
0   177729  b'xf8H...     Current     18000.0      TX    18000.0       36 mo...    0.1049     584.96       B  Mar-17  March ...     2017.0       False   Indivi...  debt_c...  Debt c...   desc
1   178339  b'x05x...   Fully ...     18000.0      VA    18000.0       36 mo...    0.1274     604.24       C  Mar-17  March ...     2017.0       False   Indivi...  debt_c...  Debt c...   desc
2   186170  b'x8fZ...     Current     19600.0      NV    19600.0       60 mo...    0.1399     455.96       C  Mar-17  March ...     2017.0       False   Indivi...  debt_c...  Debt c...   desc
3   197338  b'xa4x...     Current     20000.0      TX    20000.0       60 mo...    0.1149     439.76       B  Mar-17  March ...     2017.0       False   Indivi...  credit...  Credit...   desc
4   198091  b'Hx81...     Current     20000.0      NJ    20000.0       60 mo...    0.1274     452.41       C  Mar-17  March ...     2017.0       False   Indivi...  debt_c...  Debt c...   desc

Performing EDA

In [15]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270299 entries, 0 to 270298
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   customer_id          270299 non-null  object
 1   emp_title            246641 non-null  object
 2   emp_length           251554 non-null  object
 3   home_ownership       270299 non-null  object
 4   annual_inc           270299 non-null  float64
 5   annual_inc_joint     18794 non-null   float64
 6   verification_status  270299 non-null  object
 7   zip_code             270299 non-null  object
 8   addr_state           270299 non-null  object
 9   avg_cur_bal          270299 non-null  float64
 10  Tot_cur_bal          270299 non-null  float64
dtypes: float64(4), object(7)
memory usage: 22.7+ MB

In [16]:
# Calculates the total percentage of NaN/None values for every column
missing_summary = (customer.isna().mean() * 100).round(2)

# Print the resulting Series
print(missing_summary)

customer_id             0.00
emp_title               8.75
emp_length              6.93
home_ownership          0.00
annual_inc              0.00
annual_inc_joint       93.05
verification_status     0.00
zip_code                0.00
addr_state              0.00
avg_cur_bal             0.00
Tot_cur_bal             0.00
dtype: float64